body {
    font-family: "PingFang SC", "Hiragino Sans GB", "Heiti SC", "Microsoft YaHei", "WenQuanYi Micro Hei";
    background-color: #fff !important;
    color: #484848 !important;
    font-size: 15px !important;
    p{
        margin: 0 !important;
    }
    .ant-modal-close-x {
        position: absolute;
        top: -25px;
        width: 25px;
        height: 25px;
        line-height: 25px;
        color: #fff;
        border: 1px solid #fff;
        border-radius: 50%;
    }
}

.fade-enter {
    opacity: 0;
    z-index: 1;
}

.fade-enter.fade-enter-active {
    opacity: 1;
    transition: opacity 250ms ease-in;
}

.example-enter {
    opacity: 0.01;
}

.example-enter.example-enter-active {
    opacity: 1;
    transition: opacity 500ms ease-in;
}

.example-exit {
    opacity: 1;
}

.example-exit.example-exit-active {
    opacity: 0.01;
    transition: opacity 300ms ease-in;
}

.example {
    position: relative;
}

.header {
    height: 80px;
    line-height: 80px;
    background: #171f32;
    .header-bd {
        width: 1200px;
        margin: 0 auto;
    }
    .logo {
        float: left;
        width: 480px;
        height: 78px;

        img {
            vertical-align: middle;
        }
    }
    .avatar-img {
        width: 58px;
        height: 58px;
        border-radius: 50%;
        vertical-align: middle;
        margin-right: 10px;

        &.ant-avatar > * {
            line-height: 58px;
            font-size: 40px;
        }
    }

    .menu {
        background: transparent;
        font-size: 16px;
        color: #fff;
        border-bottom: none;

        li {
            display: inline-block;
            margin-left: 25px;
            margin-right: 25px;
            padding: 0 12px;

            a {
                color: inherit;
            }

            &.active {
                color: #daa360;
                border-bottom: 4px solid #daa360;
            }
        }
        .ant-menu.ant-menu-dark .ant-menu-item-selected {
            background: initial;
        }
    }
    .login-or-regist {
        font-size: 16px;
        float: right;
        color: #fff;
    }
}
.userMenu {
	&.ant-dropdown-menu {
		border-radius: 6px;
	}

	.ant-dropdown-menu-item {
		background-color: #171f32;
		height: 50px;
		line-height: 35px;
		font-size: 16px;
		color: #fff;
		text-align: center;
	}
	.ant-dropdown-menu-item:hover,
	.ant-dropdown-menu-submenu-title:hover {
		background-color: lighten(#171f32, 20%);
	}
}

.footer {
    background: #2f4776;
    color: #fff;
    line-height: 110px;
    font-size: 16px;
    font-weight: lighter;
    .footer-bd {
        width: 1200px;
        margin: 0 auto;

        a {
            color: inherit;
        }
    }
}

.content {
    min-height: 600px;
    padding-bottom: 40px;
}

.banner {
    height: 419px;
    background-position: center;
    background-size: cover;
    max-width: 1920px;
    min-width: 1200px;
    margin: 0 auto;

    .banner-ct {
        width: 1200px;
        margin: 0 auto;
        padding-top: 100px;

        .name {
            color: #fff;
            font-size: 36px;
            margin-bottom: 15px;
            font-weight: lighter;
        }
        .info {
            color: #d9a460;
            font-size: 26px;
            margin-bottom: 20px;
        }
        .desc {
            color: #b3b3b3;
            font-size: 12px;
            line-height: 20px;
        }
    }
}

.example-enter {
    opacity: 0.01;
}

.example-enter.example-enter-active {
    opacity: 1;
    transition: opacity 500ms ease-in;
}

.example-leave {
    opacity: 1;
}

.example-leave.example-leave-active {
    opacity: 0.01;
    transition: opacity 300ms ease-in;
}

// 居中1200px
.layer-for-body {
    background: #fff;
    // 免费试听
    &.blueness {
        background: #2f4776;
    }

}

.layer-for-body-ct {
    width: 1200px;
    margin: 0 auto;
}

.vertical-center-modal {
    text-align: center;
    white-space: nowrap;
}

.vertical-center-modal:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    width: 0;
}

.vertical-center-modal .ant-modal {
    display: inline-block;
    vertical-align: middle;
    top: 0;
    text-align: left;
}

.text_right {
    text-align: right;
}

.login_label {
    height: 28px;
    line-height: 28px;
    text-align: right;
}

.login_line {
    margin-bottom: 20px;
}

.ant-btn.ant-btn-blue {
    color: #fff;
    background-color: #2f4776;
    border-color: #2f4776;

    &:hover,
    &:focus {
        color: #fff;
        background-color: lighten(#2f4776, 20%);
        border-color: lighten(#2f4776, 20%);
    }
}

.ant-btn.ant-btn-green {
    color: #fff;
    background-color: #31cc66;
    border-color: #31cc66;

    &:hover,
    &:focus {
        color: #fff;
        background-color: lighten(#31cc66, 20%);
        border-color: lighten(#31cc66, 20%);
    }
}

.pagination {
    text-align: center;
}

.help-box {
    margin-top: 58px;
}

.help-box-hd {
    height: 65px;
    line-height: 65px;
    text-align: center;
    color: #fff;
    background: #0a275e;
    font-size: 20px;
    font-weight: lighter;
}

.help-box-bd {
    border: 1px solid #9da9bf;
    border-top: 0;
    padding: 30px;
    min-height: 400px;

    line-height: 27px;
    font-size: 16px;
    color: #0a275e;
    text-align: justify;

    img {
        max-width: 100%;
    }
}

/**************空白页*****************/
.blankBox {
    width: 100%;
    height: 400px;
    position: relative;
    .blackCon {
        width: 250px;
        height: 230px;
        position: absolute;
        left: 50%;
        margin-left: -125px;
        top: 50%;
        margin-top: -115px;
        text-align: center;
        p {
            font-size: 19px;
            color: #c4cbd9;
        }
    }
}

.notMatch .header {
    display: none;
}

.notMatch .footer {
    display: none;
}

.tag {
    margin: 4px;
    padding: 4px 5px;
    color: #108ee9;
    background-color: #fff;
    border: 1PX solid #108ee9;
    border-radius: 3px;
}