
:global(#root) {
  .am-button::before {
    background-color: transparent;
    border: none;
  }
  //navbar
  .am-navbar-dark {
    background-color: #818992;
    color: #ffffff;
    position: fixed;
    width: 100%;
    z-index: 9;
    .am-navbar-left,
    .am-navbar-right {
      color: #fff;
    }
    .am-icon {
      width: 24px;
      height: 24px;
    }
  }
  .am-navbar-light {
    background-color: #fff;
    color: #484848;
    position: fixed;
    width: 100%;
    z-index: 9;
    .am-navbar-left,
    .am-navbar-right {
      color: #008489;
    }
    .am-icon {
      width: 24px;
      height: 24px;
    }
  }
  //toast
  .am-toast-notice-content .am-toast-text {
    padding: 15px;
  }
  // list border
  .am-list-body{
    border-top:none;
    border-bottom: none;
  }
  .am-list-body::before,
  .am-list-body::after,
  .am-list-item:not(:last-child) .am-list-line::after,
  .am-list-item .am-list-line::after,
  .am-list-body div:not(:last-child) .am-list-line,
  .am-list-body div:not(:last-child) .am-list-line::after {
    background-color: transparent !important;
    border-bottom: none;
  }
  //覆盖原来的背景色
  .am-list-item.am-list-item-active {
    background-color: transparent;
  }
  //tabs
  .am-tabs-default-bar-top .am-tabs-default-bar-tab,
  .am-tabs-default-bar-top .am-tabs-default-bar-tab::after {
    background-color: transparent !important;
    border:none;
  }
  .am-tabs-default-bar {
    box-shadow: 0 4px 6px rgba(0, 0, 0, .05);
  }
  //loading
  .loading-example {
    margin-top: 10px;
    text-align: center;
  }
  .am-activity-indicator {
    display: block;
    text-align: center;
  }
  .show_navbar{
    height: 45px;
  }
  //
  .line {
    border-bottom: 1px solid #ddd;
    height: 1px;
  }
  .classTip {
    position: absolute;
    top: 50%;
    left: 50%;
    width: auto;
    word-break: break-all;
    max-width: 300px;
    padding: 10px;
    box-sizing: border-box;
    background-color: #484848;
    border-radius: 5px;
    color: #fff;
    text-align: justify;
    justify-content: center;
  }
}
body {
  font-family: HelveticaNeue, PingFangSC, Microsoft Yahei, Arial;
  background-color: #fff !important;
  color: #484848 !important;
  font-size: 16px;
  p {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
  }
  .am-modal-close {
    top: 10px;
  }
}

